/*文本框显示行号*/
#msg1,#msg2,#msg3,#msg4{
    display:none
}
#ol{
    position:absolute;
    top: 0px;
    left: 17px;
    height: 37.6%;
    z-index:1;
    padding:0;
    margin:0;
    border:0;
    background:#ecf0f5;
    width:34px;
    text-align:left;
    resize: none;
    opacity: 0.5;
}
#li{
    background:#ecf0f5;
    height:100%;
    overflow:hidden;
    width:32px;
    border:none;
    line-height:20px;
    margin:0;
    padding-top:5px;
    text-align:center;
    resize: none;
}
.texts{
    float: left;
    width: 100%;
    height: 100%;
    /*line-height: 20px;*/
    font: 18px Courier New,​sans-serif;
    /*border: 5px solid #f18200;*/
    /*border-radius: 2px;*/
    resize: none;
    padding-left:35px;
   /* margin: 12px;*/
    overflow: auto;
    outline:none;
}
.search1{
    width: 100%;
    height: 100%;
}

pre {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;
}

code {
    width: 100%;
    height: 100%;
    display: block;
    padding: 12px 24px;
    overflow-y: auto;
    font-weight: 300;
    font-family: Menlo, monospace;
    font-size: 0.8em;
}


#leave-message-textarea{
    border-radius:0 5px 5px 0;
    outline: 0;
    border: 1px solid #000;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
}

#app .nav > li.active{
    border-right: 0;background:white;
    box-shadow:0 0 0px #ccc
}


#app .list-group > li.list-group-item{
    cursor: pointer;
}


.list-group-item:hover {
    background-color: rgb(248, 248, 248);
}

.bootstrap-table{
    margin-top: 10px;
}